# Dependencies
node_modules/
*.lock
*.log

# Environment variables
.venv
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.o
*.a

# Temporary files
tmp/
temp/

.runs/